.footer {
    background: #128197;
    padding: 40px 0 0;
    position: relative;
  }
  .contat-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 140%;
    color: #ffffff;
  }
  .contacts-info {
      font-weight: 400;
      font-size: 18px;
      color: #FFFFFF;
      margin-bottom: 25px;
  }
  .contacts-info a {
      color: #fff;
      margin-left: 27px;
  }
  .contat-des {
      font-weight: 400;
      font-size: 17px;
      line-height: 156%;
      color: #FFFFFF;
      margin-bottom: 20px;
  }
  .contact form{
      margin-bottom: 30px;
  }
  .contact form label{
      color: #fff;
      font-size: 17px;
  }
  .bottom-footer {
      background: #08768B;
      padding: 12px;
      color: #fff;
  }
  .bottom-footer a{
      color: #fff;
  }
  .footer .particals canvas{
      height: 460px !important;
  }
  .footer .particals {
      height: unset;
  }
  .contact-btn{
    background: #65B4CE;
    border: 1px solid #65B4CE;
    border-radius: 100px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 138%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 9px 28px;
}